@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1184px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1030px) {
    .photo-grid {
        max-width: 100%;
        grid-gap: 14px;
    }
}

@media screen and (max-width: 770px) {
    .photo-grid {
        max-width: 100%;
        padding: 0 24px;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 330px) {
    .photo-grid {
        max-width: 100%;
        padding: 0 16px;
        grid-gap: 12px;
    }
}