* {
    font-family: inter;    
    font-style: normal;
    font-weight: normal;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
body {
    
    background: #2A2C2F;
    color: #FFFFFF;
} 



























    
