.place__image {
    max-width: 460px;
    width: 100%;
}

@media screen and (max-width: 1030px) {
    .photo__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 770px) {
    .photo__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 330px) {
    .photo__image {
        max-width: 430px;
    }
}