.header__logo {
    max-width: 176px;
    width: 100%;
    min-height: 52px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 330px ) {
    .header__logo {
        max-width: 142px;
        min-height: 42px;      
    }
}