.footer__links {

}
@media screen and (max-width: 755px) {
    .footer__links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}