.place__paragraph {
    padding-bottom: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
@media screen and (max-width: 1030px ) {
    .place__paragraph {
        padding-bottom: 28px;
    }
}
@media screen and (max-width: 770px ) {
    .place__paragraph {
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width: 330px ) {
    .place__paragraph {
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 26px;
    }
}