@import url(./__text/cover__text.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
.cover {
    max-width: 1184px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-bottom: 92px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cover:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (max-width: 1030px) {
    .cover {
        max-width: 100%;
        padding-bottom: 92px;
    }

@media screen and (max-width: 770px) {
    .cover {
        max-width: 100%;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 330px) {
    .cover {
        max-width: 100%;
        padding-bottom: 64px;
    }
}