.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: start;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (max-width: 770px ) {
    .lead__caption {
      padding-left: 24px; 
    }
  }