.place__url-heading {
    display: -ms-grid;
    display: grid;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 330px ) {
    .place__url-heading {
        display: none;
    }
}