.place__website {
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}
@media screen and (max-width: 330px ) {
    .place__website {
        display: none;
    }
}